@import 'libs/bootstrap-reboot.min';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap');
@import 'libs/stylesheet';
@import 'libs/animation';
@import 'base/variables';
@import 'base/mixins';
@import 'base/favorite/favorite';
@import 'base/block/block';
@import 'base/divider/divider';
@import 'blocks/header/header';
@import 'blocks/university/university';
@import 'blocks/information/information';
@import 'blocks/specialities/specialities';
@import 'blocks/description/description';
@import 'blocks/menu/menu';
@import 'blocks/modal/modal';
@import 'blocks/infoBlock/infoBlock';
@import 'blocks/search/search';
@import 'blocks/carousel/carousel';

* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}
body {
    background-color: #F1F1F1;
}

.container {
    width: 1216px;
    margin: 0 auto;
}


