.specialities {
    min-height: 1540px;
    padding-top: 48px;
    &__wrapper {
        width: 904px;
        float: right;
    }
    &__preview {
        display: flex;
        justify-content: space-between;
    }
    &__title {
        font-family: 'Formular';
        font-style: normal;
        font-weight: 500;
        font-size: 31px;
        color: #222222;
        line-height: 36px;
    }
    &__counter {
        color: #767676;
        font-size: 13px;
    }
    &__university {
        color: #A7A7A7;
        font-size: 12px;
    }
    &__filter {
        font-size: 13px;
        color: #222222;
        margin-top: 22px;
        display: flex;
        align-items: center;
        width: fit-content;
        justify-content: space-between;
        transition: 0.5s all;
        &-item {
            transition: 0.5s all;
            color: #767676;
            img {
                display: none;
            }
            margin-left: 24px;
            cursor: pointer;
        }
    }
    &__item {
        height: 248px;
        margin-top: 16px;
        padding: 16px;
        display: grid;
        grid-template-columns: 168px 418px 254px;
        gap: 16px;
        &-descr {
            grid-column: 2 / 3;
            display: flex;
            align-items: center;
            justify-content: space-between;
            &_divider {
                width: 1px;
                height: 216px;
                background: #D8D8D8;
            }
        }
        &-subtitle {
            font-weight: 600;
            font-size: 10px;
            letter-spacing: 3px;
            text-transform: uppercase;
            color: #767676;
            font-feature-settings: 'tnum' on, 'lnum' on;
        }
        &-title {
            margin-top: 4px;
            font-family: 'Formular';
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            color: #222222;
        }
        &-tags {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 409px;
        }
        &-tag {
            border: 1px solid #D8D8D8;
            cursor: pointer;
            border-radius: 47px;
            padding: 5px 12px;
            font-size: 14px;
            color: #222222;
            line-height: 22px;
            transition: 0.5s all;
            &:hover {
                background-color: #D8D8D8;
            }
        }
        &-links {
            font-size: 13px;
            margin-top: 8px;
            a {
                color: #767676;
                line-height: 25px;
            }
        }
        &-all {
            margin-top: 4px;
            font-weight: 600;
            font-size: 13px;
            color: #222222;
            cursor: pointer;
        }
        &-icons {
            display: flex;
            align-items: center;
            justify-content: start;
        }
        &-icon {
            background: #F1F1F1;
            width: 32px;
            height: 32px;
            border-radius: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 9px;
            &:first-child {
                margin-left: 0;
            }
        }
        &-divider {
            width: 254px;
            margin-top: 8px;
        }
        &-counters {
            color: #767676;
            font-size: 12px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 12px;
            line-height: 20px;
            span {
                color: #222222;
                font-family: 'Formular';
                font-style: normal;
                font-weight: 500;
                font-size: 15px;
            }
        }
    }
    &__show {
        font-family: 'Formular';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 312px;
        height: 48px;
        background: #DFE9F5;
        color: #0656B4;
        letter-spacing: 2px;
        text-transform: uppercase;
        border-radius: 5px;
        margin-top: 16px;
        border: none;
    }
}